      .agent {
          position: absolute;
          top: 76%;
          left: 1%;
          width: 130px; /*150*/
          z-index: 100;
          opacity: 0.2; /*.6*/
      }​

      #agent {
      }

      .patient {
          position: absolute;
          top: 80%;
          left: 32%;
          width: 130px; /*.6*/
          opacity: 0.2;
      }​

      #patient {
      }

      .wood {
         position: absolute;
         top: 62%;
         left: 28%;
         width: 130px; /*.6*/
         opacity: 0.2;
      }​

      #wood {
      }

      .woodTwo {
         position: absolute;
         top: 44%;
         left: 28%;
         width: 190px; /*.6*/
         opacity: 0.2;
      }​

      #woodTwo {
      }

      .woodThree {
         position: absolute;
         top: 24%;
         left: 28%;
         width: 200px; /*.6*/
         opacity: 0.2;
      }​

      #woodThree {
      }

      .woodFour {
         position: absolute;
         top: 5%;
         left: 28%;
         width: 210px; /*.6*/
         opacity: 0.2;
      }​

      #woodFour {
      }


      .victim {
          position: absolute;
          top: 72%;
          left: 77%;
          width: 4%; /*8*/
      }​

      #victim {
      }

      .agentContext {
          position: absolute;
          top: 91%;
          left: 1%;
          width: 50px; /*150*/
          z-index: 100;
      }​

      #agentContextVisual {
      }

      .agentContext_50 {
          position: absolute;
          top: 51%;
          left: 6%;
          width: 50px; /*150*/
          z-index: 100;
      }​

      #agentContext_50 {
      }

      .agentContext_100 {
          position: absolute;
          top: 51%;
          left: 6%;
          width: 50px; /*150*/
          z-index: 100;
      }​

      #agentContext_100 {
      }

      .agentContext_200 {
          position: absolute;
          top: 51%;
          left: 12%;
          width: 50px; /*150*/
          z-index: 100;
      }​

      #agentContext_200 {
      }

      .patientContext {
          position: absolute;
          top: 91%;
          left: 37%;
          width: 50px; /*150*/
      }​

      #patientContextVisual {
      }

      #victim {
      }

      .agentContextDur {
          display: none;
          position: absolute;
          top: 51%;
          left: 1%;
          width: 50px; /*150*/
          z-index: 100;
      }​

      #agentContextDur {
      }

      .patientContextDur {
          display: none;
          position: absolute;
          top: 51%;
          left: 37%;
          width: 50px; /*150*/
      }​

      #patientContextDur {
      }

      #seventhVisual {
          display: none;
          position: absolute;
          width: 300px;
          z-index: 100;
      }

      #vignette {
          display: none;
          left: 100px;
          text-align: center;
          z-index: 1;
      }

      #consentDiv {
        font-size:9pt;
        font-family: Arial, Helvetica;
        padding:10px;
        max-width: 600px;
        margin: 0 auto;
        margin-top: 30px;
      }

      #demographics {
        display: none;
        position: relative;
        width: 800px;
        height: 700px;
        background: #DDDDDD;
        border: 1px solid gray;
        margin: 0 auto;
        text-align: center;
      }

      #commentBox {
        padding:10px;
        display: none;
        position: relative;
        width: 900px;
        height: 500px;
        background: #DDDDDD;
        border: 1px solid gray;
        margin: 0 auto;
        z-index: 1;
        text-align: center;
      }

      #saving, #customSubmit {
      display: none;
      }

      #task {
       display: none;
        position: relative;
        width: 800px;
        height: 400px;
        background: #DDDDDD;
        border: 1px solid gray;
        margin: 0 auto;
      }

      .question {
          position: absolute;
          display: none;
          background: #DDDDDD;
          top: 2%;
          left: 40%;
          width: 300px;
          text-align: center;
      }
